@import "../_core/_config.less";

/*-----------------------------------------
        SHEAR TRANSFORMATION.LESS
-----------------------------------------*/
.aq-activity.aq-shear-transformation {
    position:relative;
    border:1px solid @mid-grey;
    padding:0 0 52px 52px !important;

    .aq-viewport {
        border:1px solid @dark-color;
    }

    .aq-range-wrapper {
        position:absolute;
        background-color:#069;
    }

    .aq-range {
        position:relative;
    }

    canvas {
        -moz-transform: scale(1, -1);
        -webkit-transform: scale(1, -1);
        -o-transform: scale(1, -1);
        transform: scale(1, -1);
    }

    .fri-wrapper {
        position:absolute;
        left:0;
        top:0;
    }

}
